## Prática

Este notebook serve para você praticar o que viu no livro.

Pode haver mais de uma maneira diferente de completar um exercício.

Os exercícios são baseados no conteúdo do livro.

Para mais referências e recursos, fica a sugestão de consultar a [documentação do Pandas.](https://pandas.pydata.org/pandas-docs/stable/)

* Erros desse Jupyter: groupby e to_numeric

In [1]:
# Importe o pandas
import pandas as pd

In [2]:
# Crie uma Série com 3 cores diferentes
cores = pd.Series(["Azul", "Branco", "Roxo"])

In [3]:
# Visualize os dados criados na Série
cores

0      Azul
1    Branco
2      Roxo
dtype: object

In [4]:
# Crie uma Série com 3 tipos de fabricantes de carro
fabricantes = pd.Series(["Toyota", "Ford", "Honda"])

In [5]:
# Crie um DataFrame combinando as duas Séries
df = pd.DataFrame({"Fabricante": fabricantes, "Cores": cores})

In [21]:
# Importe o csv "venda-de-carros.csv" em visualize o DataFrame
df2 = pd.read_csv("venda-de-carros.csv")
df2

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00
5     Toyota     Verde          99213       4   R$ 14,500.00
6      Honda      Azul          45698       4   R$ 17,500.00
7      Honda      Azul          54738       4   R$ 27,000.00
8     Toyota    Branco          60000       4   R$ 26,250.00
9     Nissan    Branco          31600       4   R$ 19,700.00

In [22]:
# Verifique os diferentes tipos de dados do DataFrame
df2.dtypes

Fabricante       object
Cor              object
Quilometragem     int64
Portas            int64
Preco            object
dtype: object

In [27]:
# Verifique as informações estatísticas do DataFrame usando .describe()

# por que tem diferença entre o uso de describe e describe()?

df2.describe()

       Quilometragem     Portas
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [30]:
# Liste mais informações sobre o DataFrame usando a função info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [31]:
# Liste o nome de todas as colunas do DataFrame
df2.columns

Index(['Fabricante', 'Cor', 'Quilometragem', 'Portas', 'Preco'], dtype='object')

In [32]:
# Exiba apenas as 5 primeiras linhas do DataFrame
df2.head()

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00

In [33]:
# Exiba as 5 últimas linhas do DataFrame
df2.tail()

  Fabricante     Cor  Quilometragem  Portas         Preco
5     Toyota   Verde          99213       4  R$ 14,500.00
6      Honda    Azul          45698       4  R$ 17,500.00
7      Honda    Azul          54738       4  R$ 27,000.00
8     Toyota  Branco          60000       4  R$ 26,250.00
9     Nissan  Branco          31600       4  R$ 19,700.00

In [37]:
# Utilize .loc para selecionar os dados da linha de índice 3 do DataFrame
df2.loc[3]

Fabricante                 BMW
Cor                      Preto
Quilometragem            11179
Portas                       5
Preco            R$ 122,000.00
Name: 3, dtype: object

In [39]:
# Utilize .iloc para exibir os dados que estão na 5° posição do DataFrame
df2.iloc[5]

Fabricante             Toyota
Cor                     Verde
Quilometragem           99213
Portas                      4
Preco            R$ 14,500.00
Name: 5, dtype: object

In [36]:
# Selecione a coluna Quilometragem
df2['Quilometragem']

0    150043
1     87899
2     32549
3     11179
4    213095
5     99213
6     45698
7     54738
8     60000
9     31600
Name: Quilometragem, dtype: int64

In [35]:
# Calcule a média da coluna Quilometragem
df2['Quilometragem'].mean()

78601.4

In [42]:
# Liste os carros que possuem uma quilometragem maior que 100.000
df2[df2['Quilometragem']> 100000]

  Fabricante     Cor  Quilometragem  Portas         Preco
0     Toyota  Branco         150043       4  R$ 24,000.00
4     Nissan  Branco         213095       4  R$ 13,500.00

In [46]:
# Agrupe as colunas pelo fabricante e calcule a média das outras colunas
df2.groupby(["Fabricante"]).mean()

TypeError: Could not convert Preto to numeric

In [49]:
# Converta a coluna Preco para dados numéricos "float64"
df2["Preco"] = pd.to_numeric(df2["Preco"])

ValueError: Unable to parse string "R$ 24,000.00" at position 0